@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.mainContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.headerContainer {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.dataWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: rgb(255, 255, 244);
}

.bio {
  text-align: center;
  color: rgb(255, 196, 0);
  margin-top: 16px;
}

.wooButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-weight: 700;
}

.progressContainer {
  width: 100%;
  height: 5px;
  margin-top: 16px;
  border-radius: 5px;
  border: 1px solid rgb(0, 255, 42);
  position: relative;
  overflow: hidden;
}

.progressBar {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(90deg, rgba(84,189,118,1) 17%, rgba(25,255,0,1) 48%, rgba(84,189,118,1) 82%);
  left: -100%;
  animation: load 3s linear infinite;
}

@keyframes load {
  0%{
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.messageModal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  animation: fadein 0.1s linear;
}

@keyframes fadein {
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

.modalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.modalContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.616);
  background-color: #fefefe;
}

.loadContainer {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.loadingButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: rgb(32, 32, 32);
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 

.modalContent p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 0.5vh;
}

.modalContent input{
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  height: 40px;
  border: 0;
  padding: 1% 2%;
  margin-bottom: 1vh;
}

.modalContent input:focus {
  outline: none;
}

.modalContent button{
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: rgb(3, 160, 11);
  border-radius: 5px;
  height: 40px;
  border: 0;
  padding: 1% 2%;
}

.modalContent button:hover {
  cursor: pointer;
  background-color: rgb(3, 180, 11);
}

.closeButton {
  color: #aaa;
  font-size: 2rem;
  font-weight: bold;
}

.closeButton:hover {
  color: black;
  cursor: pointer;
}

.errorContainer {
  color: rgb(255, 196, 0);
  margin-top: 1.5vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
}

.errorContainer p {
  margin: 0;
  color: white;
  font-weight: normal;
  text-align: center;
  max-width: 100%;
}

.messageContainer {
  margin-top: 1.5vh;
  max-height: 75vh;
  overflow: auto;
}

.messageContainer::-webkit-scrollbar {
  width: 0px;
}

.wooMessage {
  background-color: rgb(255, 196, 0);
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 8px;
  font-size: 0.9rem;
}

.wooMessage button {
  color: white;
  cursor: pointer;
  margin-top: 1vh;
  padding: 6px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  font-weight: 500;
}

.wooMessage button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.wooMessage span {
  margin-left: 10px;
  font-weight: bold;
}

.wooMessage span span{
  margin: 0;
  font-weight: normal;
}

.popupModal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: none;
  animation: fadein 0.1s linear;
}

.popupWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.popupContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.616);
  background-color: #fefefe;
}

.popupContent p {
  margin: 0;
}

.popupMessage {
  width: 100%;
  overflow: auto;
}

.popupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

#error-message {
  margin: 5px 0;
}